<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UsertableMapper" >
  <resultMap id="BaseResultMap" type="com.model.Usertable" >
    <id column="userID" property="userid"/>
    <result column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="status" property="status"/>
  </resultMap>
  <sql id="Base_Column_List" >
    userID, username,password,status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from usertable
    where userID = #{userid}
  </select>
  <select id="selectByAll" resultMap="BaseResultMap" parameterType="com.model.Usertable" >
    select 
    <include refid="Base_Column_List" />
    from usertable
  </select>
  <select id="selectByUser" resultMap="BaseResultMap" parameterType="com.model.Usertable">
    select 
    <include refid="Base_Column_List" />
    from usertable
    where username = #{username} and password=#{password}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from usertable
    where userID = #{userid}
  </delete>
  <insert id="insert" parameterType="com.model.Usertable" >
    insert into usertable (userID, username,password,status)
    values (#{userid}, #{username},#{password},#{status})
  </insert>
  <insert id="insertSelective" parameterType="com.model.Usertable" >
    insert into usertable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userID,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="status != null" >
        status
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid},
      </if>
      <if test="username != null" >
        #{username},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="status != null" >
        #{status}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.Usertable" >
    update usertable
    <set >
      <if test="username != null" >
        username = #{username},
      </if>
      <if test="password != null" >
        password=#{password},
      </if>
      <if test="status != null" >
        status=#{status}
      </if>
    </set>
    where userID = #{userid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.Usertable" >
    update usertable
    set username = #{username},password=#{password},status=#{status}
    where userID = #{userid}
  </update>
</mapper>